<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=359176614215413";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="http://coinwidget.com/widget/coin.js"></script>




<div id="header-fixed"></div>

<div class="highlight"></div>

<!-- INTRO SECTION +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div class="main-bg">





<div class="share-box">
	<div class="bitcoin share">
		<script>
			CoinWidgetCom.go({
				wallet_address: "1HAomFh557tvDnNGfJNkybS3fbTrxbmJQd"
				, currency: "bitcoin"
				, counter: "count"
				, alignment: "bl"
				, qrcode: true
				, auto_show: false
				, lbl_button: "Donate"
				, lbl_address: "My Bitcoin Address:"
				, lbl_count: "donations"
				, lbl_amount: "BTC"
			});
		</script>
	</div>
    <div class="twitter share">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.weeklybit.com/" data-text="" data-via="zachferland">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="facebook share">
        <div class="fb-like" data-href="http://www.weeklybit.com" data-width="80" data-layout="button_count" data-show-faces="false" data-send="false"></div>
    </div>
</div>





<div class="intro row">
  <div class="large-8 small-12 columns small-centered">
  	<h1 class="title-top">THE WEEKLY BIT</h1>
  </div>
  <div class="large-9 small-12 columns small-centered">
  	<h2 class="what">A weekly newsletter of the most important Bitcoin news, content and developments. Sourced from blogs, individuals, communities and other resources. It provides an easy way to follow Bitcoin, understand its underlying protocol, and to discover further resources. </h2>
  </div>
  <div class="large-8 small-12 columns small-centered">
  	<!-- An easy way to follow current news, develop a better understanding of bitcoin, discover resources to dive deeper and ...... new services and merchants accepting bitcoin.</h2> -->

	<form action="/subscribe" method="post" class="form-inline">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    	<span class="email-icon"></span>
    	<input id="email-input" type="email" name="email" placeholder="email address"/>
    	<input id="button-email" type="submit" class="btn" value="SIGN UP"/>
	</form>

	<div class="row">
			<p class="join-others">Join <span class="count"><%= @member_count.inspect %></span> other subscribers.</p>
	</div>
	<div class="down-arrow small-1 columns small-centered hide-for-small-only"></div>
  </div>
</div>

<!-- NEWSLETTER SECTION ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="newsletter row">
	<div class="large-6 small-11 columns small-centered">
		<p class="lastweek">Newsletter from last week.</p>
	</div>
	<div class="email small-12 columns small-centered">
		<div class="header">
			<div class="row">
				<div class="small-6 columns"><p class="date">February 12, 2014</p></div>
				<div class="small-6 columns">
				<!-- <p class="price">1 BTC = $4,598</p> -->
				</div>
			</div>
			<div class="row">
				<div class="small-8 columns small-centered">
					<h3 class="title">THE WEEKLY BIT</h3>
				</div>
			</div>
		</div>
		<div class="body">
		<div class="article">
			 <div class="article">
				<p class="summary">First newsletter being sent out within days!</p>
			</div>

			<!--
			<div class="article">
				<h4 class="title">Why More Businesses May Accept Bitcoin</h4>
				<p class="summary">And, finally, there is also the point that one person or entity own and control a lot more than just one bitcoin address. I, personally, control almost 100 bitcoin.</p>
				<div class="read-button"><span>READ</span></div>
			</div>

			<div class="article">
				<h4 class="title">Why More Businesses May Accept Bitcoin</h4>
				<p class="summary">And, finally, there is also the point that one person or entity own and control a lot more than just one bitcoin address. I, personally, control almost 100 bitcoin.</p>
				<div class="read-button"><span>READ</span></div>
			</div>

			<div class="article">
				<h4 class="title">Why More Businesses May Accept Bitcoin</h4>
				<p class="summary">And, finally, there is also the point that one person or entity own and control a lot more than just one bitcoin address. I, personally, control almost 100 bitcoin.</p>
				<div class="read-button"><span>READ</span></div>
			</div>


			<div class="article">
				<h4 class="title">Why More Businesses May Accept Bitcoin</h4>
				<p class="summary">And, finally, there is also the point that one person or entity own and control a lot more than just one bitcoin address. I, personally, control almost 100 bitcoin.</p>
				<div class="read-button"><span>READ</span></div>
			</div>

			<div class="article">
				<h4 class="title">Why More Businesses May Accept Bitcoin</h4>
				<p class="summary">And, finally, there is also the point that one person or entity own and control a lot more than just one bitcoin address. I, personally, control almost 100 bitcoin.</p>
				<div class="read-button"><span>READ</span></div>
			</div>


			<div class="article">
				<h4 class="title">Why More Businesses May Accept Bitcoin</h4>
				<p class="summary">And, finally, there is also the point that one person or entity own and control a lot more than just one bitcoin address. I, personally, control almost 100 bitcoin.</p>
				<div class="read-button"><span>READ</span></div>
			</div>


			<div class="article">
				<h4 class="title">Why More Businesses May Accept Bitcoin</h4>
				<p class="summary">And, finally, there is also the point that one person or entity own and control a lot more than just one bitcoin address. I, personally, control almost 100 bitcoin.</p>
				<div class="read-button"><span>READ</span></div>
			</div> -->
		</div>
	</div>
</div>
</div>
<!-- PURPOSE SECTION +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="purpose">
<div class="row">
	<div class="large-11 small-11 columns small-centered">
		<h3>PURPOSE OF THIS NEWSLETTER</h3>
		<h4>The purpose of this newsletter is to deliver the best content, news and devlopements each week in a way that is useful and clear to both casual and everday followers. There are three goals as of now for the newsletter. The first goal is to provide a balanced view of Bitcoin. In doing so the newsletteer will consist of economic, technical, social and other perspectives. The second goal is to help people understand Bitcoin a little better every week and begin to understand its potential as a currency and beyond. The last goal is to highlight bitcoin related companies, products, services, projects and merchants. The hope is to make bitcion more accessible and well understood by a much wider audience. We will work to find a newsletter format that works best to meet these goals based on feedback from the community.</h4>
	</div>
</div>
</div>
<!-- OTHER SECTION +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="other">
	<div class="row">
		<div class="background">
			<div></div>
		</div>
		<div class="contributors large-offset-3 large-4 small-11 columns">
			<h3>CONTRIBUTORS</h3>
			<p><a href="https://twitter.com/zachferland">@zachferland</a></p>
			<p><a href="https://twitter.com/jcap49">@jcap49</a></p>
			<p><a href="https://twitter.com/aliukani">@aliukani</a></p>
			<p class="looking-for">We are looking for others from various backgrounds to help source the best content each week.</p>
			<a href="mailto:zachferland@gmail.com?Subject=Contribute" target="_top"><div class="button-contact"><span>CONTACT</span></div></a>
		</div>
		<div class="sources large-5 small-11 columns">
			<h3>MOST USED SOURCES</h3>
			<p><a href="bitcoin.org">bitcoin.org</a></p>
			<p><a href="hreddit.com/r/Bitcoin<">reddit.com/r/Bitcoin</a></p>
			<p><a href="hcoindesk.com">coindesk.com</a></p>
			<p><a href="https://twitter.com/zachferland">bitcoinmagazine.com/</a></p>
			<p><a href="https://twitter.com/zachferland">bitcoin.stackexchange.com/</a></p>
			<p><a href="https://twitter.com/zachferland">thegenesisblock.com/</a></p>
		</div>
	</div>
</div>

<!-- FOOTER SECTION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="footer">
<div class="row">
	<ul>
		<li><a href="mailto:zachferland@gmail.com?Subject=Hello" target="_top">CONTACT</a></li>
		<li><a href="mailto:zachferland@gmail.com?Subject=Advertising%20WeeklyBit" target="_top">ADVERTISING</a></li>
		<li><a href="https://twitter.com/zachferland">DESIGNED BY</a></li>
	</ul>

	<div class="built-in-boston"><%= image_tag('built-in-boston.png')%></div>
</div>
</div>
